/* цвета, градиенты */

$color-black = #253238;
$color-gray = #485F69;
$color-mediumgray = #F6F6F6;
$color-lightgray = #CBCBCB;
$color-green = #07B52D;
$color-lightgreen = #10CA39;
$color-blue = #3F94D5;
$color-darkblue = #485F69;
$color-red = #F04438;
