@import 'reset.css';
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''), url("fonts/raleway-v18-latin_cyrillic-regular.woff2") format('woff2'), url("fonts/raleway-v18-latin_cyrillic-regular.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local(''), url("fonts/raleway-v18-latin_cyrillic-500.woff2") format('woff2'), url("fonts/raleway-v18-latin_cyrillic-500.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local(''), url("fonts/raleway-v18-latin_cyrillic-600.woff2") format('woff2'), url("fonts/raleway-v18-latin_cyrillic-600.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
button {
  padding: 0;
}
button:hover {
  cursor: pointer;
}
.main-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #3f94d5;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 5px;
}
.main-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3f94d5;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.main-link:hover::after,
.main-link:focus::after {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.main-button {
  color: #fff;
  background-color: #3f94d5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #3f94d5;
  outline: none;
  text-decoration: none;
}
.main-button:hover,
.main-button:focus {
  cursor: pointer;
  background-color: #fff;
  color: #3f94d5;
  transition: all 0.4s ease;
}
.main-button_transparent {
  background-color: #fff;
  border: 1px solid #3f94d5;
  color: #253238;
}
.main-button_transparent:hover,
.main-button_transparent:focus {
  color: #fff;
  background-color: #3f94d5;
  transition: all 0.4s ease;
}
.swiper-button-prev-header,
.swiper-button-next-header,
.swiper-button-prev-steps,
.swiper-button-next-steps,
.swiper-button-prev-certificates,
.swiper-button-next-certificates,
.swiper-button-prev-partners,
.swiper-button-next-partners {
  width: 40px;
  height: 40px;
  border: 1px solid #cbcbcb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.swiper-button-prev-header img,
.swiper-button-next-header img,
.swiper-button-prev-steps img,
.swiper-button-next-steps img,
.swiper-button-prev-certificates img,
.swiper-button-next-certificates img,
.swiper-button-prev-partners img,
.swiper-button-next-partners img {
  transform: scale(1);
  transition: transform 0.4s ease;
}
.swiper-button-prev-header:hover,
.swiper-button-next-header:hover,
.swiper-button-prev-steps:hover,
.swiper-button-next-steps:hover,
.swiper-button-prev-certificates:hover,
.swiper-button-next-certificates:hover,
.swiper-button-prev-partners:hover,
.swiper-button-next-partners:hover {
  cursor: pointer;
}
.swiper-button-prev-header:hover,
.swiper-button-next-header:hover,
.swiper-button-prev-steps:hover,
.swiper-button-next-steps:hover,
.swiper-button-prev-certificates:hover,
.swiper-button-next-certificates:hover,
.swiper-button-prev-partners:hover,
.swiper-button-next-partners:hover,
.swiper-button-prev-header:focus,
.swiper-button-next-header:focus,
.swiper-button-prev-steps:focus,
.swiper-button-next-steps:focus,
.swiper-button-prev-certificates:focus,
.swiper-button-next-certificates:focus,
.swiper-button-prev-partners:focus,
.swiper-button-next-partners:focus,
.swiper-button-prev-header:active,
.swiper-button-next-header:active,
.swiper-button-prev-steps:active,
.swiper-button-next-steps:active,
.swiper-button-prev-certificates:active,
.swiper-button-next-certificates:active,
.swiper-button-prev-partners:active,
.swiper-button-next-partners:active {
  outline: none;
}
.swiper-button-prev-header:hover img,
.swiper-button-next-header:hover img,
.swiper-button-prev-steps:hover img,
.swiper-button-next-steps:hover img,
.swiper-button-prev-certificates:hover img,
.swiper-button-next-certificates:hover img,
.swiper-button-prev-partners:hover img,
.swiper-button-next-partners:hover img,
.swiper-button-prev-header:focus img,
.swiper-button-next-header:focus img,
.swiper-button-prev-steps:focus img,
.swiper-button-next-steps:focus img,
.swiper-button-prev-certificates:focus img,
.swiper-button-next-certificates:focus img,
.swiper-button-prev-partners:focus img,
.swiper-button-next-partners:focus img,
.swiper-button-prev-header:active img,
.swiper-button-next-header:active img,
.swiper-button-prev-steps:active img,
.swiper-button-next-steps:active img,
.swiper-button-prev-certificates:active img,
.swiper-button-next-certificates:active img,
.swiper-button-prev-partners:active img,
.swiper-button-next-partners:active img {
  transform: scale(1.2);
  transition: transform 0.4s ease;
}
.swiper-button-prev-header {
  margin-right: 28px;
}
.swiper-button-prev-header,
.swiper-button-next-header {
  z-index: 3;
  margin-bottom: 5px;
}
.swiper-button-disabled img {
  filter: grayscale(1);
}
.swiper-button-disabled:hover,
.swiper-button-disabled:focus {
  cursor: not-allowed;
}
.swiper-button-disabled:hover img,
.swiper-button-disabled:focus img {
  transform: scale(1);
}
@media screen and (max-width: 1439.98px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1199.98px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 576px;
  }
}
html {
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #253238;
  line-height: 1.5;
}
body {
  background-color: #fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.header__nav {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 180px;
  margin-right: auto;
}
h1 {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  display: inline-block;
  width: 95%;
  margin-top: 3px;
}
.header__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__link_round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #cbcbcb;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.3s ease;
}
.header__link_round img {
  transform: scale(1);
  transition: all 0.3s ease;
}
.header__link_round:hover,
.header__link_round:focus {
  border: 1px solid #07b52d;
  transition: all 0.3s ease;
}
.header__link_round:hover img,
.header__link_round:focus img {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.header__link_phone {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin-right: 55px;
  color: #253238;
  text-decoration: none;
  font-feature-settings: 'pnum' on, 'lnum' on;
  transition: all 0.3s ease;
}
.header__link_phone:hover,
.header__link_phone:focus {
  color: #3f94d5;
  transition: all 0.3s ease;
}
.header .main-button {
  margin-right: 65px;
  height: 50px;
  width: 170px;
  font-weight: 400;
  font-size: 14px;
}
.header__link_bold {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #253238;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: color 0.3s ease;
}
.header__link_bold img {
  margin-right: 10px;
}
.header__link_bold:hover,
.header__link_bold:focus {
  color: #3f94d5;
  transition: color 0.3s ease;
}
.header__li_last {
  margin-left: 40px;
}
.menu {
  width: 100%;
  background-color: #07b52d;
}
.menu__li {
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.menu__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #fff;
  height: 100%;
}
.menu__link_arrow {
  position: relative;
  padding-right: 20px;
}
.menu__link_arrow::after {
  content: url("../img/icons/arrow-down-white.svg");
  position: absolute;
  right: 0;
  top: 0;
}
.banners__wrapper {
  position: relative;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 70px;
  overflow: visible !important;
}
.banners__wrapper::before {
  content: '';
  position: absolute;
  background-color: transparent;
  border-left: 10px solid #07b52d;
  border-bottom: 10px solid #07b52d;
  bottom: -3px;
  left: -70px;
  width: 458px;
  height: 490px;
}
.banners__wrapper::after {
  content: '';
  position: absolute;
  background-color: transparent;
  border-right: 10px solid #07b52d;
  border-bottom: 10px solid #07b52d;
  bottom: -3px;
  right: -10px;
  width: 310px;
  height: 490px;
}
.banners {
  width: 100%;
}
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-width: 100%;
}
.banner__text {
  padding: 100px 100px 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}
.banner__text h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 4px;
}
.banner__text h3 {
  font-weight: 600;
  font-size: 42px;
  line-height: 130%;
  color: #f04438;
  margin-bottom: 20px;
}
.banner__text p {
  font-size: 20px;
  line-height: 150%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin-bottom: 40px;
}
.banner__text b {
  font-weight: 600;
}
.banner__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.banner__links .main-button {
  margin-right: 30px;
  height: 70px;
  width: 290px;
}
.banner__links .main-link {
  white-space: nowrap;
}
.banner__image {
  z-index: 1;
  max-width: 649px;
}
.banners__buttons {
  position: absolute;
  bottom: -3px;
  left: 417px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.banners__buttons button img {
  transform: scale(1);
  transition: ransform 0.4s ease;
}
.banners__buttons button:hover {
  cursor: pointer;
}
.banners__buttons button:hover,
.banners__buttons button:focus,
.banners__buttons button:active {
  outline: none;
}
.banners__buttons button:hover img,
.banners__buttons button:focus img,
.banners__buttons button:active img {
  transform: scale(1.2);
  transition: ransform 0.4s ease;
}
.types__wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  width: 100%;
}
.types__wrapper::before {
  content: '';
  position: absolute;
  height: 100px;
  width: calc((100vw - 1000px) / 2);
  left: 0;
  top: 55%;
  background-color: #07b52d;
  z-index: -1;
}
.types__wrapper::after {
  content: '';
  position: absolute;
  height: 100px;
  width: calc((100vw - 1000px) / 2);
  right: 0;
  top: 55%;
  background-color: #07b52d;
  z-index: -1;
}
.types__headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.section__heading {
  font-weight: 600;
  font-size: 42px;
  line-height: 49px;
}
.section__heading_green {
  color: #07b52d;
}
.types__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}
.types__button + .types__button {
  margin-left: 50px;
}
.types__button {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  color: inherit;
  transition: color 0.3s ease;
}
.types__button:hover,
.types__button:focus {
  color: #3f94d5;
  transition: color 0.3s ease;
}
.types__button_active {
  color: #3f94d5;
  padding-bottom: 5px;
}
.types__button_active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3f94d5;
}
.types__button_active:hover,
.types__button_active:focus {
  pointer-events: none;
}
.types__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.types__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.types__item h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  margin-top: 17px;
  margin-bottom: 5px;
}
.types__item p {
  font-size: 16px;
  line-height: 19px;
/* identical to box height */
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #07b52d;
}
.sales {
  margin-top: 70px;
  margin-bottom: 70px;
}
.sales .main-button {
  width: 260px;
  height: 70px;
}
.sales__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 40px;
}
.sales__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border: 10px solid #07b52d;
}
.sales__text {
  padding-top: 65px;
  padding-left: 110px;
  padding-bottom: 65px;
  padding-right: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.sales__text h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}
.sales__text h3 {
  font-weight: 600;
  font-size: 42px;
  line-height: 130%;
  color: #f04438;
  margin-bottom: 20px;
}
.sales__text p {
  margin-bottom: 40px;
}
.calculator__wrapper {
  width: 100%;
  background-color: #e8f5f3;
}
.calculator {
  padding-top: 100px;
  padding-bottom: 100px;
}
.calculator .section__heading {
  margin-bottom: 35px;
}
.calculator__steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.calculator__step {
  border: 10px solid #07b52d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 427px;
  width: 31%;
}
.calculator__heading {
  height: 85px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #07b52d;
}
.calculator__heading span {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  color: #07b52d;
  border-radius: 50%;
  font-weight: 600;
  font-size: 24px;
  margin-right: 13px;
  margin-left: 30px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.calculator__heading h3 {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}
.calculator__inputs {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 30px;
  height: 100%;
}
.calculator__inputs_left {
  margin-right: 45px;
}
.calculator__inputs fieldset {
  display: flex;
  flex-direction: column;
  border-style: none;
  padding: 0;
  margin: 0;
}
.calculator__inputs fieldset legend {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 20px;
  padding: 0;
}
.calculator__inputs fieldset label {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}
.calculator__inputs fieldset label:hover {
  cursor: pointer;
}
.calculator__inputs fieldset input {
  margin-left: 0;
  margin-right: 8px;
}
.calculator__inputs fieldset input:hover {
  cursor: pointer;
}
.calculator__step_2 fieldset:first-child,
.calculator__step_3 fieldset:first-child {
  margin-bottom: 45px;
}
.calculator__step_2 fieldset:nth-child(2) {
  margin-top: -8px;
}
.calculator__plus-minus {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.calculator__plus-minus fieldset:not(:first-child) sup {
  color: #07b52d;
}
.calculator__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.calculator__minus,
.calculator__plus {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid #07b52d;
  background-color: transparent;
  font-size: 32px;
  color: #485f69;
  line-height: 1;
  transition: all 0.4s ease;
}
.calculator__minus:hover,
.calculator__plus:hover,
.calculator__minus:focus,
.calculator__plus:focus {
  background-color: #07b52d;
  color: #fff;
  transition: all 0.4s ease;
}
.calculator__minus:disabled,
.calculator__plus:disabled {
  border: 1px solid #cbcbcb;
  color: #cbcbcb;
}
.calculator__minus:disabled:hover,
.calculator__plus:disabled:hover,
.calculator__minus:disabled:focus,
.calculator__plus:disabled:focus {
  cursor: not-allowed;
  background-color: transparent;
  color: #cbcbcb;
}
.calculator__minus {
  margin-right: 66px;
}
.calculator__number {
  font-weight: 600;
  font-size: 18px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  position: absolute;
  left: 56px;
  top: 2px;
}
.calculator__buttons_green {
  font-weight: 500;
  font-size: 16px;
  color: #07b52d;
  margin-top: 17px;
}
.calculator__results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 43px;
}
.calculator__results p {
  width: 38%;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
}
.calculator__results .main-button {
  width: 238px;
  height: 70px;
}
.calculator__result {
  margin-left: auto;
  margin-right: 34px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  position: relative;
}
.calculator__result::before {
  position: absolute;
  content: '';
  height: 3px;
  width: 130px;
  background-color: #07b52d;
  left: -144px;
  top: 10px;
}
.calculator__result::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 40px;
  background-color: #07b52d;
  left: -54px;
  top: 18px;
}
.constructor__wrapper {
  padding-top: 70px;
  position: relative;
  z-index: 3;
  padding-bottom: 100px;
  background: url("../img/constructor/bg1.png") no-repeat left 0 bottom 2px, url("../img/constructor/bg2.png") no-repeat left 14% bottom 150px, url("../img/constructor/bg3.png") no-repeat left 40% bottom 20px, url("../img/constructor/bg5.png") no-repeat right 7% bottom 120px, url("../img/constructor/bg4.png") no-repeat right 28% bottom 25px, url("../img/constructor/bg6.png") no-repeat right 0 bottom 5px, linear-gradient(to bottom, #fff 0%, #fff 65%, #07b52d 65%);
}
.constructor {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding-bottom: 15px;
}
.constructor .section__heading {
  margin-bottom: 15px;
}
.constructor .main-link {
  border: none;
  outline: none;
  background-color: transparent;
  margin-top: 15px;
  margin-right: 10px;
}
.constructor__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}
.constructor__info {
  font-size: 20px;
  line-height: 150%;
}
.constructor__interactive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.constructor__colorpickers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 40px;
}
.constructor__colorpick {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.constructor__colorpick label {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  width: 90%;
  margin-bottom: 12px;
}
.constructor__colorpick + .constructor__colorpick {
  margin-top: 43px;
}
.advantages {
  margin-top: 140px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.advantages .section__heading {
  margin-bottom: 20px;
}
.advantages__headings {
  width: 49.5%;
}
.advantages__item {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 30px 0 30px;
  height: 278px;
  border: 1px solid #cbcbcb;
  margin-bottom: 20px;
  position: relative;
}
.advantages__item::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 70px;
  width: 140px;
  height: 3px;
  background-color: #07b52d;
}
.advantages__item:nth-child(even) {
  background-color: #f6f6f6;
}
.advantages__item img {
  margin-bottom: 15px;
}
.advantages__heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #07b52d;
  margin-bottom: 10px;
}
.steps {
  margin-top: 70px;
  margin-bottom: 70px;
}
.steps__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}
.steps__items {
  margin-left: calc((100% - 1200px) / 2 + 15px) !important;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 440px;
  width: auto;
  background: linear-gradient(to right, #fff 0%, #fff 14%, #07b52d 14.01%, #07b52d 100%);
}
.step__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 423px;
  min-width: 423px;
  height: 290px;
  padding: 0 27px 15px 48px;
  border: 3px solid #07b52d;
  background-color: #fff;
  position: relative;
  z-index: 2;
}
.step {
  position: relative;
  flex-shrink: 0 !important;
  align-self: center !important;
  height: auto !important;
  margin-right: 0 !important;
}
.step:not(:last-child)::before {
  content: '';
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 6px dashed #10ca39;
  position: absolute;
  z-index: 1;
  top: -36px;
  left: 280px;
  transform: rotate(90deg);
  background-color: transparent;
  border-right: none;
}
.step:not(:first-child)::after {
  content: '';
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 6px dashed #10ca39;
  position: absolute;
  z-index: 1;
  bottom: -36px;
  left: 60px;
  transform: rotate(90deg);
  background-color: transparent;
  border-left: none;
}
.step__headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.step__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 24px;
  margin-top: 60px;
}
.step__counter {
  font-weight: 600;
  font-size: 53px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #3f94d5;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.step__counter span {
  font-weight: 600;
  font-size: 25px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #485f69;
  position: relative;
  top: -10px;
}
.steps__buttons {
  width: 110px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.payment {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.payment .section__heading {
  margin-bottom: 15px;
}
.payment__headings {
  width: 40%;
  margin-right: 100px;
}
.payment__info {
  color: #07b52d;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.payment__methods {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
.payment__method {
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.payment__method + .payment__method {
  margin-left: 110px;
}
.payment__method img {
  margin-bottom: 50px;
}
.payment__method figcaption {
  position: relative;
}
.payment__method figcaption::before {
  content: '';
  width: 100px;
  height: 3px;
  background-color: #07b52d;
  position: absolute;
  left: 0;
  top: -15px;
}
.certificates__wrapper {
  margin-top: 70px;
  margin-bottom: 70px;
  position: relative;
}
.certificates__wrapper::after {
  width: 100%;
  height: 140px;
  background: url("../img/certificates/bg/line.png") no-repeat left -30px top 30px, url("../img/certificates/bg/medal.png") no-repeat left 5% bottom 20px, url("../img/certificates/bg/line.png") no-repeat left 12% bottom 35px, url("../img/certificates/bg/medal.png") no-repeat left 15% top 15px, url("../img/certificates/bg/line.png") no-repeat right -15px top 30px, url("../img/certificates/bg/medal.png") no-repeat right 15% top 15px, url("../img/certificates/bg/line.png") no-repeat right 15% bottom 35px, url("../img/certificates/bg/medal.png") no-repeat right 5% bottom 15px, #07b52d;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 55px;
  content: '';
}
.certificates__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.certificates__swiper {
  margin-top: 40px;
  overflow: hidden;
}
.certificates__swiper .swiper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.measure {
  margin-top: 180px;
  margin-bottom: 70px;
  width: 100%;
  border: 10px solid #07b52d;
  border-right: 208px solid #07b52d;
  padding: 60px 80px;
  position: relative;
}
.measure::after {
  content: url("../img/measure-bg.png");
  position: absolute;
  bottom: -10px;
  right: -180px;
}
.measure__heading {
  font-weight: 600;
  font-size: 42px;
  line-height: 49px;
  margin-bottom: 40px;
}
.measure__heading span {
  color: #07b52d;
}
.measure__inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}
.measure__inputs_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 20px;
}
.measure__inputs_left input {
  width: 100%;
  height: 70px;
  border: 1px solid #485f69;
  padding: 25px;
}
.measure__inputs_left input:first-child {
  margin-bottom: 20px;
}
.measure__inputs_right {
  width: 50%;
}
.measure__inputs_right textarea {
  width: 100%;
  height: 160px;
  border: 1px solid #485f69;
  padding: 25px;
}
.measure__submit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.measure__submit .main-button {
  width: 289px;
  height: 70px;
  margin-right: 29px;
}
.measure__submit label {
  margin-left: 10px;
}
.measure__submit input[type="checkbox"] {
  margin: 0;
  margin-bottom: 2px;
}
.measure__submit a {
  color: #485f69;
  position: relative;
  text-decoration: none;
}
.measure__submit a::after {
  width: 100%;
  height: 1px;
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  background-color: #485f69;
}
.partners {
  margin-top: 140px;
  margin-bottom: 70px;
}
.partners__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 35px;
}
.partners__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.partners__invite {
  display: flex;
  width: 310px;
  min-width: 310px;
  margin-right: 95px;
  font-size: 20px;
  line-height: 150%;
}
.partners__items {
  overflow: hidden;
}
.partners__items .swiper-slide {
  height: 110px;
  width: 130px;
  overflow: visible;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #07b52d;
}
.footer__wrapper {
  margin-top: 140px;
  position: relative;
  overflow: hidden;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  min-height: 401px;
}
.footer_left {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #485f69;
  width: calc(100% - 380px);
  height: 100%;
  position: relative;
  z-index: 1;
  min-height: 401px;
}
.footer_left::before {
  width: 100%;
  height: 100%;
  content: '';
  background-color: #485f69;
  position: absolute;
  left: -100%;
  top: 0;
  z-index: 0;
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 100px;
}
.footer__headings {
  margin-bottom: 46px;
}
.footer__headings img {
  margin-bottom: 7px;
}
.footer__subheading {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}
.footer__social h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 19px;
}
.footer__social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 57px;
}
.footer__social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.footer__social-link img {
  transform: scale(1);
  transition: transform 0.3s ease;
}
.footer__social-link + .footer__social-link {
  margin-left: 12px;
}
.footer__social-link:hover img,
.footer__social-link:focus img {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.footer__policy {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #f6f6f6;
  position: relative;
  margin-bottom: 20px;
  text-decoration: none;
}
.footer__policy::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #f6f6f6;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.footer__policy:hover,
.footer__policy:focus {
  color: #fff;
  transition: color 0.3s ease;
}
.footer__policy:hover::after,
.footer__policy:focus::after {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.footer__copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #f6f6f6;
}
.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__nav_left li:nth-child(4) {
  margin-bottom: 31px;
}
.footer__nav_right {
  padding-left: 80px;
}
.footer__link_big,
.footer__link_small {
  color: #fff;
  text-decoration: none;
  position: relative;
}
.footer__link_big::after,
.footer__link_small::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -3px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.footer__link_big:hover::after,
.footer__link_small:hover::after,
.footer__link_big:focus::after,
.footer__link_small:focus::after {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.footer__link_small {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.footer__link_big {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
.footer__link_big::after {
  height: 2px;
}
.footer_right {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f6f6f6;
  width: 380px;
  height: 100%;
  position: relative;
  z-index: 1;
  min-height: 401px;
}
.footer_right::after {
  width: 100%;
  height: 100%;
  content: '';
  background-color: #f6f6f6;
  position: absolute;
  right: -100%;
  top: 0;
  z-index: 0;
}
.footer_right h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 16px;
}
.footer_right .main-button {
  width: 173px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.footer_right .main-button:first-of-type {
  margin-bottom: 10px;
}
.footer__link_phone {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #253238;
  position: relative;
  text-decoration: none;
  margin-bottom: 10px;
}
.footer__link_phone::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #253238;
  position: absolute;
  left: 0;
  bottom: -3px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.footer__link_phone:hover::after,
.footer__link_phone:focus::after {
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.footer__messengers {
  margin-top: 20px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footer__messenger-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.footer__messenger-link img {
  transform: scale(1);
  transition: transform 0.3s ease;
}
.footer__messenger-link + .footer__messenger-link {
  margin-left: 12px;
}
.footer__messenger-link:first-child {
  background-color: #48c95f;
}
.footer__messenger-link:nth-child(2) {
  background-color: #7c509a;
}
.footer__messenger-link:last-child {
  background-color: #3f94d5;
}
.footer__messenger-link:hover img,
.footer__messenger-link:focus img {
  transform: scale(1.15);
  transition: transform 0.3s ease;
}
